.ContainerImageRight{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
  border-radius: 20px;
}

.ContainerImageLeft{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
  border-radius: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .ContainerImageLeft{
    box-shadow: none;
  }

  .ContainerImageRight{
    box-shadow: none;
  }
}

@media (min-width: 1024px) {
  .ContainerImageRight{
    margin-right: 0px;
  }
  .ContainerImageLeft{
    margin-left: 0px;
  }
}